$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

.heading {
  margin: 5px 0;
  font: 22px $font-family;
  font-weight: bold;
  color: #333333;
}

.message-box {
  margin: 0;
  padding: 0 15px;
  font: 16px $font-family;
  line-height: 32px;
  vertical-align: middle;
}
